# Homework Exercise 4 : Parallel and Distributed computing with Dask

# Task 0
## Exercise 4 completed by Sai Eshwar Tadepalli

# Section D - DASK DATAFRAMES IN CODE â€“ NYC AREA FLIGHTS DATA
## Task 1 - Install and Imports

In [1]:
import os
import dask
from dask.distributed import Client
import dask.dataframe as dd
import pandas as pd
import glob

## Task 2 - Get the data and read it in

In [2]:
filename = os.path.join('nycflights','*.csv')
filename
ddf = dd.read_csv(filename)
pdf = pd.concat(map(pd.read_csv, glob.glob(filename)))

## Task 3 - Lazy operations

In [3]:
ddf

Dask DataFrame Structure:
                 Year  Month DayofMonth DayOfWeek  DepTime CRSDepTime  ArrTime CRSArrTime UniqueCarrier FlightNum  TailNum ActualElapsedTime CRSElapsedTime  AirTime ArrDelay DepDelay  Origin    Dest Distance   TaxiIn  TaxiOut Cancelled Diverted
npartitions=10
                int64  int64      int64     int64  float64      int64  float64      int64        object     int64  float64           float64          int64  float64  float64  float64  object  object  float64  float64  float64     int64    int64
                  ...    ...        ...       ...      ...        ...      ...        ...           ...       ...      ...               ...            ...      ...      ...      ...     ...     ...      ...      ...      ...       ...      ...
...               ...    ...        ...       ...      ...        ...      ...        ...           ...       ...      ...               ...            ...      ...      ...      ...     ...     ...      ...      ...      ...       ...      ...
                  ...    ...        ...       ...      ...        ...      ...        ...           ...       ...      ...               ...            ...      ...      ...      ...     ...     ...      ...      ...      ...       ...      ...
                  ...    ...        ...       ...      ...        ...      ...        ...           ...       ...      ...               ...            ...      ...      ...      ...     ...     ...      ...      ...      ...       ...      ...
Dask Name: read-csv, 10 tasks

In [4]:
ddf.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,Diverted
0,1990,1,1,1,1621.0,1540,1747.0,1701,US,33,...,NaN,46.0,41.0,EWR,PIT,319.0,NaN,NaN,0,0
1,1990,1,2,2,1547.0,1540,1700.0,1701,US,33,...,NaN,-1.0,7.0,EWR,PIT,319.0,NaN,NaN,0,0
2,1990,1,3,3,1546.0,1540,1710.0,1701,US,33,...,NaN,9.0,6.0,EWR,PIT,319.0,NaN,NaN,0,0
3,1990,1,4,4,1542.0,1540,1710.0,1701,US,33,...,NaN,9.0,2.0,EWR,PIT,319.0,NaN,NaN,0,0
4,1990,1,5,5,1549.0,1540,1706.0,1701,US,33,...,NaN,5.0,9.0,EWR,PIT,319.0,NaN,NaN,0,0

## Task 4 - Timing exercise

In [5]:
%timeit ddf = dd.read_csv(filename)

3.04 ms Â± 187 Âµs per loop (mean Â± std. dev. of 7 runs, 100 loops each)

In [6]:
%timeit pdf = pd.concat(map(pd.read_csv, glob.glob('nycflights/*.csv')))

3.36 s Â± 86.7 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

## Task 5 - DataFrame attributes

In [7]:
ddf.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'Diverted'],
      dtype='object')

In [8]:
ddf.dtypes

Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
DepTime              float64
CRSDepTime             int64
ArrTime              float64
CRSArrTime             int64
UniqueCarrier         object
FlightNum              int64
TailNum              float64
ActualElapsedTime    float64
CRSElapsedTime         int64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance             float64
TaxiIn               float64
TaxiOut              float64
Cancelled              int64
Diverted               int64
dtype: object

## Task 6 - Read in the data again

In [9]:
ddf = dd.read_csv(filename,
                  parse_dates = {'Date': [0,1,2]},
                  dtype = {'CRSElapsedTime': 'float64',
                           'TailNum': 'object'})

In [10]:
len(ddf)

2611892

In [11]:
ddf.tail()

,Date,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,Diverted
269176,1999-12-27,1,1645.0,1645,1830.0,1901,UA,1753,N516UA,225.0,...,205.0,-31.0,0.0,LGA,DEN,1619.0,7.0,13.0,0,0
269177,1999-12-28,2,1726.0,1645,1928.0,1901,UA,1753,N504UA,242.0,...,214.0,27.0,41.0,LGA,DEN,1619.0,5.0,23.0,0,0
269178,1999-12-29,3,1646.0,1645,1846.0,1901,UA,1753,N592UA,240.0,...,220.0,-15.0,1.0,LGA,DEN,1619.0,5.0,15.0,0,0
269179,1999-12-30,4,1651.0,1645,1908.0,1901,UA,1753,N575UA,257.0,...,233.0,7.0,6.0,LGA,DEN,1619.0,5.0,19.0,0,0
269180,1999-12-31,5,1642.0,1645,1851.0,1901,UA,1753,N539UA,249.0,...,232.0,-10.0,-3.0,LGA,DEN,1619.0,6.0,11.0,0,0

In [12]:
ddf[['CRSElapsedTime','TailNum']].sample(frac=0.001).compute()

        CRSElapsedTime TailNum
60099            157.0     NaN
23700             58.0     NaN
59016            230.0     NaN
209306           125.0     NaN
181851            74.0     NaN
...                ...     ...
196682           160.0  N16647
169424           103.0  N926VJ
138160           166.0  N619DL
213820           114.0  N311US
206806           158.0  N664DN

[2613 rows x 2 columns]

## Task 7 - Obtaining a Dask Series and indexing Dask DataFrames

In [13]:
ddf['TailNum'].compute()

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
           ...
269176    N516UA
269177    N504UA
269178    N592UA
269179    N575UA
269180    N539UA
Name: TailNum, Length: 2611892, dtype: object

In [14]:
ddf.loc[ddf['ArrTime'] < ddf['ArrTime'].mean()].compute()

,Date,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,Diverted
88,1990-01-01,1,1205.0,1110,1343.0,1243,US,49,NaN,98.0,...,NaN,60.0,55.0,LGA,CLE,418.0,NaN,NaN,0,0
89,1990-01-02,2,1158.0,1110,1327.0,1243,US,49,NaN,89.0,...,NaN,44.0,48.0,LGA,CLE,418.0,NaN,NaN,0,0
90,1990-01-03,3,1202.0,1110,1324.0,1243,US,49,NaN,82.0,...,NaN,41.0,52.0,LGA,CLE,418.0,NaN,NaN,0,0
91,1990-01-06,6,1126.0,1110,1322.0,1243,US,49,NaN,116.0,...,NaN,39.0,16.0,LGA,CLE,418.0,NaN,NaN,0,0
92,1990-01-07,7,1114.0,1110,1236.0,1243,US,49,NaN,82.0,...,NaN,-7.0,4.0,LGA,CLE,418.0,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269146,1999-12-27,1,1102.0,1100,1305.0,1311,UA,1685,N515UA,243.0,...,208.0,-6.0,2.0,LGA,DEN,1619.0,10.0,25.0,0,0
269147,1999-12-28,2,1058.0,1100,1305.0,1311,UA,1685,N598UA,247.0,...,221.0,-6.0,-2.0,LGA,DEN,1619.0,6.0,20.0,0,0
269148,1999-12-29,3,1057.0,1100,1308.0,1311,UA,1685,N517UA,251.0,...,218.0,-3.0,-3.0,LGA,DEN,1619.0,5.0,28.0,0,0
269149,1999-12-30,4,1056.0,1100,1312.0,1311,UA,1685,N502UA,256.0,...,227.0,1.0,-4.0,LGA,DEN,1619.0,6.0,23.0,0,0
269150,1999-12-31,5,1101.0,1100,1352.0,1311,UA,1685,N559UA,291.0,...,234.0,41.0,1.0,LGA,DEN,1619.0,7.0,50.0,0,0

In [15]:
ddf.iloc[:,[1,3,]].compute()

        DayOfWeek  CRSDepTime
0               1        1540
1               2        1540
2               3        1540
3               4        1540
4               5        1540
...           ...         ...
269176          1        1645
269177          2        1645
269178          3        1645
269179          4        1645
269180          5        1645

[2611892 rows x 2 columns]

In [16]:
# ddf.iloc[[1,3,]].compute()

## Task 8 - Converting from Pandas to Dask

In [17]:
ddf_partitions = dd.from_pandas(pdf, npartitions = 10)
ddf_partitions.partitions[1]

Dask DataFrame Structure:
                Year  Month DayofMonth DayOfWeek  DepTime CRSDepTime  ArrTime CRSArrTime UniqueCarrier FlightNum TailNum ActualElapsedTime CRSElapsedTime  AirTime ArrDelay DepDelay  Origin    Dest Distance   TaxiIn  TaxiOut Cancelled Diverted
npartitions=1
26119          int64  int64      int64     int64  float64      int64  float64      int64        object     int64  object           float64        float64  float64  float64  float64  object  object  float64  float64  float64     int64    int64
52238            ...    ...        ...       ...      ...        ...      ...        ...           ...       ...     ...               ...            ...      ...      ...      ...     ...     ...      ...      ...      ...       ...      ...
Dask Name: blocks, 11 tasks

## Task 9 - Computations on Dask DataFrames

### Task 9.a - Calculate the number of non-missing values in each column

In [18]:
ddf.count().compute()

Date                 2611892
DayOfWeek            2611892
DepTime              2540961
CRSDepTime           2611892
ArrTime              2533682
CRSArrTime           2611892
UniqueCarrier        2611892
FlightNum            2611892
TailNum              1298886
ActualElapsedTime    2533682
CRSElapsedTime       2609927
AirTime              1255069
ArrDelay             2533682
DepDelay             2540961
Origin               2611892
Dest                 2611892
Distance             2610397
TaxiIn               1298886
TaxiOut              1298886
Cancelled            2611892
Diverted             2611892
dtype: int64

### Task 9.b - Calculate the counts of each of the categorical values in the Cancelled column

In [19]:
ddf['Cancelled'].value_counts().compute()

0    2540961
1      70931
Name: Cancelled, dtype: int64

### Task 9.c - Calculate the max value of the DepDelay column

In [20]:
ddf['DepDelay'].max().compute()

1435.0

### Task 9.d - Find and print the columns for all the rows where the flights are Cancelled

In [21]:
print(ddf[ddf['Cancelled']==True].compute())

             Date  DayOfWeek  DepTime  CRSDepTime  ArrTime  CRSArrTime  \
37     1990-01-08          1      NaN        2050      NaN        2203
55     1990-01-29          1      NaN        2050      NaN        2203
61     1990-01-04          4      NaN        1850      NaN        1948
207    1990-01-01          1      NaN         645      NaN         850
259    1990-01-25          4      NaN        1755      NaN        1942
...           ...        ...      ...         ...      ...         ...
268926 1999-12-20          1      NaN        1846      NaN        2103
269031 1999-12-16          4      NaN         615      NaN         829
269093 1999-12-14          2      NaN        1650      NaN        1906
269153 1999-12-17          5      NaN        1400      NaN        1613
269154 1999-12-20          1      NaN        1400      NaN        1613

       UniqueCarrier  FlightNum TailNum  ActualElapsedTime  ...  AirTime  \
37                US         38     NaN                NaN  ...      NaN
55                US         38     NaN                NaN  ...      NaN
61                US         42     NaN                NaN  ...      NaN
207               US         93     NaN                NaN  ...      NaN
259               US        105     NaN                NaN  ...      NaN
...              ...        ...     ...                ...  ...      ...
268926            UA       1609  UNKNOW                NaN  ...      NaN
269031            UA        401  UNKNOW                NaN  ...      NaN
269093            UA        785  UNKNOW                NaN  ...      NaN
269153            UA       1691  UNKNOW                NaN  ...      NaN
269154            UA       1691  UNKNOW                NaN  ...      NaN

        ArrDelay  DepDelay  Origin Dest Distance  TaxiIn  TaxiOut  Cancelled  \
37           NaN       NaN     LGA  ORF    296.0     NaN      NaN          1
55           NaN       NaN     LGA  ORF    296.0     NaN      NaN          1
61           NaN       NaN     EWR  SYR    194.0     NaN      NaN          1
207          NaN       NaN     LGA  IND    659.0     NaN      NaN          1
259          NaN       NaN     JFK  PIT    340.0     NaN      NaN          1
...          ...       ...     ...  ...      ...     ...      ...        ...
268926       NaN       NaN     EWR  DEN   1605.0     0.0      0.0          1
269031       NaN       NaN     LGA  DEN   1619.0     0.0      0.0          1
269093       NaN       NaN     LGA  DEN   1619.0     0.0      0.0          1
269153       NaN       NaN     LGA  DEN   1619.0     0.0      0.0          1
269154       NaN       NaN     LGA  DEN   1619.0     0.0      0.0          1

        Diverted
37             0
55             0
61             0
207            0
259            0
...          ...
268926         0
269031         0
269093         0
269153         0
269154         0

[70931 rows x 21 columns]

### Task 9.e - How many observations are there where the DayOfWeek column equals 1?

In [22]:
ddf[ddf['DayOfWeek']==1].shape[0].compute()

388011

### Task 9.f - How many non-cancelled flights were taken from each Origin airport?

In [23]:
# Number of non-cancelled flights taken from Origin airport
ddf[ddf['Cancelled'] == 0]['Origin'].value_counts().compute()

EWR    1139451
LGA     974267
JFK     427243
Name: Origin, dtype: int64

In [24]:
# Bonus
numerator = ddf[ddf['Cancelled'] == 0]['Origin'].value_counts()
numerator.compute()
denominator = ddf['Origin'].value_counts()
denominator.compute()
ratio = numerator / denominator
ratio.compute()

EWR    0.970463
LGA    0.970946
JFK    0.983658
Name: Origin, dtype: float64

### Task 9.g - Calculate the average departure delay for each Origin airport by DayOfWeek

In [25]:
ddf.groupby(['Origin', 'DayOfWeek'])['DepDelay'].mean().compute()

Origin  DayOfWeek
EWR     1             9.115922
        2             9.179402
        3            10.606154
        4            12.069740
        5            13.154202
        6             8.053139
        7             9.432185
JFK     1             8.884113
        2             8.841036
        3             9.448858
        4            10.846967
        5            12.339922
        6            11.191893
        7            10.947545
LGA     1             6.580465
        2             6.659778
        3             7.311600
        4             8.620151
        5             9.151866
        6             5.800159
        7             7.589457
Name: DepDelay, dtype: float64

### Task 9.h - For each of the three NYC area airports as the Destination, compute the means of all columns. You may use the .isin() method of Series

In [26]:
nyc_means = ddf[ddf['Dest'].isin(['JFK', 'LGA', 'EWR'])].groupby('Dest').mean()
nyc_means.compute()

,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,TaxiIn,TaxiOut,Cancelled,Diverted
Dest,,,,,,,,,,,,,,,,
EWR,3.838710,1216.100000,885.483871,1068.833333,845.612903,559.225806,45.166667,32.233333,27.777778,34.583333,23.766667,19.064516,7.111111,23.666667,0.032258,0.193548
LGA,4.625000,1313.500000,795.000000,1164.833333,821.375000,2310.500000,37.500000,31.125000,8.800000,25.500000,37.000000,14.750000,7.200000,18.400000,0.000000,0.250000
JFK,5.166667,1652.166667,1679.833333,1765.000000,1731.666667,1009.666667,59.500000,30.166667,19.500000,114.166667,84.833333,17.666667,7.000000,18.500000,0.000000,0.000000

### Task 9.i - For each year, compute the maximum values of ActualElapsedTime and Distance.

In [27]:
ddf.groupby(ddf['Date'].dt.year)[['ActualElapsedTime', 'Distance']].max().compute()

      ActualElapsedTime  Distance
Date
1990              595.0    2586.0
1991              632.0    2586.0
1992              703.0    2586.0
1993              675.0    2586.0
1994              647.0    2586.0
1995              581.0    2586.0
1996              620.0    2586.0
1997              587.0    2586.0
1998              743.0    4962.0
1999              795.0    4962.0

## Task 10 - Visualizing Dask Task Graphs

In [28]:
# ddf.groupby("Dest")["ArrDelay"].min().visualize()

## Task 11 - Use Distributed Task Scheduler: Set up a cluster and ProgressBar for diagnostics

In [29]:
# Import Client class from dask.distributed module
from dask.distributed import Client

# Local cluster with 4 workers and 2 threads per worker
from dask.distributed import Client

client = Client(n_workers = 4, threads_per_worker = 2, memory_limit = '1GB')
print(client)
client.cluster

<Client: 'tcp://127.0.0.1:51180' processes=4 threads=8, memory=3.73 GiB>

Tab(children=(HTML(value='<div class="jp-RenderedHTMLCommon jp-RenderedHTML jp-mod-trusted jp-OutputArea-outpuâ€¦

In [30]:
ddf.groupby("Dest")["ArrDelay"].min().compute()

Dest
ABE    -33.0
ALB    -26.0
ATL   -311.0
BDL    -39.0
BGR    -30.0
       ...
AUS    -65.0
CRP    -16.0
HNL    -63.0
BHM    -30.0
TUS    -55.0
Name: ArrDelay, Length: 99, dtype: float64

In [31]:
# Setup a progress bar
from dask.diagnostics import ProgressBar
ProgressBar().register()

## Task 12 - Using a different scheduler for specific tasks

In [32]:
x = ddf.groupby("Dest")["ArrDelay"].min()
x.compute(scheduler='threads')

[########################################] | 100% Completed |  2.8s

Dest
ABE    -33.0
ALB    -26.0
ATL   -311.0
BDL    -39.0
BGR    -30.0
       ...
AUS    -65.0
CRP    -16.0
HNL    -63.0
BHM    -30.0
TUS    -55.0
Name: ArrDelay, Length: 99, dtype: float64

In [33]:
with dask.config.set(scheduler='processes'):
    print(x.compute())

[########################################] | 100% Completed |  4.3s
Dest
ABE    -33.0
ALB    -26.0
ATL   -311.0
BDL    -39.0
BGR    -30.0
       ...
AUS    -65.0
CRP    -16.0
HNL    -63.0
BHM    -30.0
TUS    -55.0
Name: ArrDelay, Length: 99, dtype: float64

# Section E - MACHINE LEARNING WITH DASK

## Task 1 - Generate random data

In [34]:
from sklearn.datasets import make_classification
X, y = make_classification(n_samples = 10000, n_features = 4, random_state = 0)
X[:8]

array([[-0.77244139,  0.3607576 , -2.38110133,  0.08757   ],
       [ 1.14946035,  0.62254594,  0.37302939,  0.45965795],
       [-1.90879217, -1.1602627 , -0.27364545, -0.82766028],
       [-0.77694695,  0.31434299, -2.26231851,  0.06339125],
       [-1.17047054,  0.02212382, -2.17376797, -0.13421976],
       [ 0.79010037,  0.68530624, -0.44740487,  0.44692959],
       [ 1.68616989,  1.6329131 , -1.42072654,  1.04050557],
       [-0.93912893, -1.02270838,  1.10093827, -0.63714432]])

In [35]:
y[:8]

array([0, 0, 1, 0, 0, 0, 0, 1])

## Task 2 - Fit a SupportVector Classifier

In [36]:
from sklearn.svm import SVC
estimator = SVC(random_state = 42)
estimator.fit(X,y)

SVC(random_state=42)

In [37]:
estimator.support_vectors_[:5]

array([[-0.77244139,  0.3607576 , -2.38110133,  0.08757   ],
       [ 1.14946035,  0.62254594,  0.37302939,  0.45965795],
       [-0.77694695,  0.31434299, -2.26231851,  0.06339125],
       [ 0.79010037,  0.68530624, -0.44740487,  0.44692959],
       [ 0.06135861, -0.32391974,  0.99651845, -0.15720499]])

In [38]:
estimator.score(X,y)

0.905

## Task 3 - Setting Hyperparameters

In [39]:
estimator = SVC(C=0.00001, shrinking = False, random_state=0)
estimator.fit(X,y)
estimator.support_vectors_[:4]

array([[-0.77244139,  0.3607576 , -2.38110133,  0.08757   ],
       [ 1.14946035,  0.62254594,  0.37302939,  0.45965795],
       [-0.77694695,  0.31434299, -2.26231851,  0.06339125],
       [-1.17047054,  0.02212382, -2.17376797, -0.13421976]])

In [40]:
estimator.score(X,y)

0.5007

## Task 4 - Applying GridSearchCV on a single cor

In [41]:
from sklearn.model_selection import GridSearchCV

In [42]:
estimator = SVC(gamma='auto', probability=True, random_state=42)
param_grid = {
    'C': [0.001, 10],
    'kernel': ['rbf','poly','linear']
}

In [43]:
grid_search = GridSearchCV(estimator, param_grid, verbose=2, cv=2)

In [44]:
%time grid_search.fit(X,y)

Fitting 2 folds for each of 6 candidates, totalling 12 fits
[CV] END ................................C=0.001, kernel=rbf; total time=  10.6s
[CV] END ................................C=0.001, kernel=rbf; total time=  10.5s
[CV] END ...............................C=0.001, kernel=poly; total time=   4.2s
[CV] END ...............................C=0.001, kernel=poly; total time=   4.3s
[CV] END .............................C=0.001, kernel=linear; total time=   3.1s
[CV] END .............................C=0.001, kernel=linear; total time=   3.0s
[CV] END ...................................C=10, kernel=rbf; total time=   2.7s
[CV] END ...................................C=10, kernel=rbf; total time=   2.7s
[CV] END ..................................C=10, kernel=poly; total time=   3.0s
[CV] END ..................................C=10, kernel=poly; total time=   2.9s
[CV] END ................................C=10, kernel=linear; total time=   4.0s
[CV] END ................................C=10, kernel=linear; total time=   3.9s
CPU times: user 1min 3s, sys: 664 ms, total: 1min 4s
Wall time: 1min 3s

GridSearchCV(cv=2,
             estimator=SVC(gamma='auto', probability=True, random_state=42),
             param_grid={'C': [0.001, 10], 'kernel': ['rbf', 'poly', 'linear']},
             verbose=2)

## Task 5 - Applying GridSearchCV on multi-cores (native Scikit parallelism using Joblib)

In [45]:
import os
n_cpu = os.cpu_count()
print("Number of CPUs in the system:", n_cpu)

Number of CPUs in the system: 8

In [46]:
grid_search_MC = GridSearchCV(estimator, 
                              param_grid,
                              verbose=2,
                              cv=2,
                              n_jobs=-1)

In [47]:
%time grid_search_MC.fit(X,y)

Fitting 2 folds for each of 6 candidates, totalling 12 fits
CPU times: user 9.28 s, sys: 471 ms, total: 9.75 s
Wall time: 25.5 s

GridSearchCV(cv=2,
             estimator=SVC(gamma='auto', probability=True, random_state=42),
             n_jobs=-1,
             param_grid={'C': [0.001, 10], 'kernel': ['rbf', 'poly', 'linear']},
             verbose=2)

In [48]:
grid_search_MC.best_params_,grid_search_MC.best_score_

({'C': 10, 'kernel': 'rbf'}, 0.9086000000000001)

## Task 6 - Parallelism with Dask (can use single or multi-machine)

In [49]:
import joblib

In [50]:
param_grid = {
    'C': [0.001, 0.1, 1.0, 2.5, 5., 10.0, 100., 500., 1000.],
    # 'kernel': ['rbf', 'poly', 'linear'],
    # 'shrinking': [True, False],
}

In [51]:
grid_search_Dist = GridSearchCV(estimator,
                                param_grid,
                                verbose=2,
                                cv=5,
                                n_jobs=-1)

In [52]:
%%time 

with joblib.parallel_backend("dask"):
    grid_search_Dist.fit(X,y)

Fitting 5 folds for each of 9 candidates, totalling 45 fits
CPU times: user 17.5 s, sys: 1.13 s, total: 18.7 s
Wall time: 1min 35s

In [53]:
pd.DataFrame(grid_search_Dist.cv_results_).head()

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,32.836085,0.658842,2.490981,0.102436,0.001,{'C': 0.001},0.8495,0.8210,0.8350,0.8245,0.8320,0.8324,0.009917,9
1,11.664187,0.263463,0.818404,0.063958,0.1,{'C': 0.1},0.9025,0.8850,0.8815,0.8825,0.8865,0.8876,0.007658,8
2,9.569353,0.186341,0.702989,0.032272,1.0,{'C': 1.0},0.9185,0.9065,0.8935,0.8975,0.9110,0.9054,0.009035,7
3,8.976999,0.290584,0.697321,0.099919,2.5,{'C': 2.5},0.9200,0.9120,0.8960,0.9005,0.9155,0.9088,0.009092,6
4,8.816152,0.146823,0.607461,0.045624,5.0,{'C': 5.0},0.9190,0.9155,0.8995,0.9055,0.9180,0.9115,0.007675,5

In [54]:
grid_search_Dist.best_params_, grid_search_Dist.best_score_

({'C': 500.0}, 0.914)

In [55]:
y_pred = grid_search_Dist.predict(X)

In [56]:
from sklearn.metrics import classification_report
print(classification_report(y, y_pred))

              precision    recall  f1-score   support

           0       0.96      0.87      0.91      4993
           1       0.88      0.96      0.92      5007

    accuracy                           0.92     10000
   macro avg       0.92      0.92      0.92     10000
weighted avg       0.92      0.92      0.92     10000

## Task 7 - Close the Client

In [57]:
client.shutdown()

[CV] END ..............................................C=1.0; total time=  10.2s
[CV] END ..............................................C=2.5; total time=   9.3s
[CV] END ..............................................C=0.1; total time=  12.8s
[CV] END ............................................C=0.001; total time=  35.1s
[CV] END ..............................................C=2.5; total time=   9.3s
[CV] END ..............................................C=5.0; total time=   9.5s
[CV] END ..............................................C=5.0; total time=   9.3s
[CV] END .............................................C=10.0; total time=   8.9s
[CV] END .............................................C=10.0; total time=   9.1s
[CV] END ............................................C=500.0; total time=  12.4s
[CV] END ............................................C=500.0; total time=  12.6s
[CV] END ...........................................C=1000.0; total time=  13.5s
[CV] END ..............................................C=1.0; total time=  10.3s
[CV] END ..............................................C=0.1; total time=  12.3s
[CV] END ..............................................C=1.0; total time=  10.0s
[CV] END ............................................C=0.001; total time=  35.1s
[CV] END ..............................................C=2.5; total time=   9.6s
[CV] END .............................................C=10.0; total time=   8.7s
[CV] END .............................................C=10.0; total time=   8.9s
[CV] END ............................................C=100.0; total time=   9.4s
[CV] END ............................................C=100.0; total time=   9.1s
[CV] END ............................................C=100.0; total time=   9.6s
[CV] END ............................................C=500.0; total time=  12.6s
[CV] END ...........................................C=1000.0; total time=  13.9s
[CV] END ..............................................C=1.0; total time=  10.4s
[CV] END ..............................................C=1.0; total time=  10.5s
[CV] END ..............................................C=0.1; total time=  12.8s
[CV] END ..............................................C=2.5; total time=  10.1s
[CV] END ..............................................C=2.5; total time=  10.1s
[CV] END ............................................C=0.001; total time=  36.7s
[CV] END ..............................................C=5.0; total time=   9.7s
[CV] END ..............................................C=5.0; total time=   9.4s
[CV] END .............................................C=10.0; total time=   9.7s
[CV] END ............................................C=500.0; total time=  12.5s
[CV] END ...........................................C=1000.0; total time=  15.4s
[CV] END ...........................................C=1000.0; total time=  12.1s
[CV] END ..............................................C=0.1; total time=  12.4s
[CV] END ..............................................C=0.1; total time=  12.0s
[CV] END ............................................C=0.001; total time=  35.3s
[CV] END ..............................................C=5.0; total time=   9.3s
[CV] END ............................................C=100.0; total time=  10.0s
[CV] END ............................................C=0.001; total time=  34.4s
[CV] END ............................................C=100.0; total time=   9.3s
[CV] END ............................................C=500.0; total time=  12.6s
[CV] END ...........................................C=1000.0; total time=  14.0s

distributed.client - ERROR - Failed to reconnect to scheduler after 30.00 seconds, closing client

[CV] END ...............................C=0.001, kernel=poly; total time=   6.5s
[CV] END ...............................C=0.001, kernel=poly; total time=   7.2s
[CV] END ...................................C=10, kernel=rbf; total time=   4.7s
[CV] END ..................................C=10, kernel=poly; total time=   4.2s
[CV] END ...................................C=10, kernel=rbf; total time=   4.4s
[CV] END ..................................C=10, kernel=poly; total time=   4.5s
[CV] END .............................C=0.001, kernel=linear; total time=   4.7s
[CV] END ................................C=10, kernel=linear; total time=   4.9s
[CV] END .............................C=0.001, kernel=linear; total time=   4.7s
[CV] END ................................C=10, kernel=linear; total time=   5.2s
[CV] END ................................C=0.001, kernel=rbf; total time=  13.5s
[CV] END ................................C=0.001, kernel=rbf; total time=  13.7s